<?xml version="1.0"?>
<config>
    <modules>
        <TM_EasyLightbox>
            <version>2.0.0</version>
        </TM_EasyLightbox>
    </modules>
    <global>
        <helpers>
            <easylightbox>
                <class>TM_EasyLightbox_Helper</class>
            </easylightbox>
        </helpers>
        <models>
            <easylightbox>
                <class>TM_EasyLightbox_Model</class>
                <resourceModel>easylightbox_mysql4</resourceModel>
            </easylightbox>
        </models>
        <blocks>
            <easylightbox>
                <class>TM_EasyLightbox_Block</class>
            </easylightbox>
        </blocks>
        <resources>
            <easylightbox_setup>
                <setup>
                    <module>TM_EasyLightbox</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easylightbox_setup>
            <easylightbox_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easylightbox_write>
            <easylightbox_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easylightbox_read>
        </resources>
    </global>
	<default>
        <easy_lightbox>
            <general>
				<enabled>0</enabled>
                <defaulzoom>0</defaulzoom>
				<mainImageSize>265_265</mainImageSize>
				<popupImageSize>500_500</popupImageSize>
				<additionalImageSize>60_60</additionalImageSize>
                <productName>0</productName>
				<animate>1</animate>
				<overlayOpacity>0.8</overlayOpacity>
				<resizeSpeed>7</resizeSpeed>
				<borderSize>10</borderSize>
				<labelImage>Image</labelImage>
				<labelOf>of</labelOf>
            </general>
        </easy_lightbox>
    </default>
    <frontend>
        <layout>
            <updates>
                <easylightbox>
                    <file>easylightbox.xml</file>
                </easylightbox>
            </updates>
        </layout>
        <translate>
            <modules>
                <TM_EasyLightbox>
                    <files>
                        <default>TM_EasyLightbox.csv</default>
                    </files>
                </TM_EasyLightbox>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <TM_EasyLightbox>
                    <files>
                        <default>TM_EasyLightbox.csv</default>
                    </files>
                </TM_EasyLightbox>
            </modules>
        </translate>
        <layout>
            <updates>
                <easylightbox>
                    <file>easylightbox.xml</file>
                </easylightbox>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <easylightbox>
                <use>admin</use>
                <args>
                    <module>TM_EasyLightbox</module>
                    <frontName>easylightbox</frontName>
                </args>
            </easylightbox>
        </routers>
    </admin>

</config>